@{
    ViewBag.title = "附件管理";
}

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="file-manager">
                            <h5>显示：</h5>
                            <a href="file_manager.html#" class="file-control active">所有</a>
                            <a href="file_manager.html#" class="file-control">文档</a>
                            <a href="file_manager.html#" class="file-control">视频</a>
                            <a href="file_manager.html#" class="file-control">图片</a>
                            <div class="hr-line-dashed"></div>
                            <button class="btn btn-primary btn-block">上传文件</button>
                            <div class="hr-line-dashed"></div>
                            <h5>文件夹</h5>
                            <ul class="folder-list" style="padding: 0">
                                <li>
                                    <a href="file_manager.html"><i class="fa fa-folder"></i> 文件</a>
                                </li>
                                <li>
                                    <a href="file_manager.html"><i class="fa fa-folder"></i> 图片</a>
                                </li>
                                <li>
                                    <a href="file_manager.html"><i class="fa fa-folder"></i> Web页面</a>
                                </li>
                                <li>
                                    <a href="file_manager.html"><i class="fa fa-folder"></i> 插图</a>
                                </li>
                                <li>
                                    <a href="file_manager.html"><i class="fa fa-folder"></i> 电影</a>
                                </li>
                                <li>
                                    <a href="file_manager.html"><i class="fa fa-folder"></i> 书籍</a>
                                </li>
                            </ul>
                            <h5 class="tag-title">标签</h5>
                            <ul class="tag-list" style="padding: 0">
                                <li>
                                    <a href="file_manager.html">爱人</a>
                                </li>
                                <li>
                                    <a href="file_manager.html">工作</a>
                                </li>
                                <li>
                                    <a href="file_manager.html">家庭</a>
                                </li>
                                <li>
                                    <a href="file_manager.html">孩子</a>
                                </li>
                                <li>
                                    <a href="file_manager.html">假期</a>
                                </li>
                                <li>
                                    <a href="file_manager.html">音乐</a>
                                </li>
                                <li>
                                    <a href="file_manager.html">照片</a>
                                </li>
                                <li>
                                    <a href="file_manager.html">电影</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

