<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 加密盐值 对应小程序也要填写一样的 -->
    <add key="SignSalt" value="mycomcms" />
  </appSettings>
  <connectionStrings>
    <!--<add name="dbconn" connectionString="Server=.;Port=3306;Database=comcmscore;Uid=root;Pwd=root;SslMode=None" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="dbconn" connectionString="server=(local);database=comcmscore;uid=sa;pwd=123456" providerName="System.Data.SqlClient" />-->
    <!--<add name="dbconn"  connectionString="Data Source=~/App_Data/ratuodb.db" providerName="Sqlite" />-->
  </connectionStrings>
</configuration>