<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/hplus/css/style.css" rel="stylesheet" />
    <link href="~/hplus/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/hplus/css/animate.min.css" rel="stylesheet" />
    <link href="~/hplus/css/login.css" rel="stylesheet" />
    <link href="~/hplus/js/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/hplus/css/plugins/iCheck/custom.css" rel="stylesheet" />
    <link href="~/js/treegrid/jquery.treegrid.css" rel="stylesheet" />
    <link href="~/js/webuploader/webuploader.css" rel="stylesheet" />
    <link href="~/js/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <script src="~/js/my97/WdatePicker.js"></script>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/validation/jquery.validate.js"></script>
        <script src="~/js/validation/messages_zh.js"></script>
        <script src="~/js/layer/layer.js"></script>
        <script src="~/js/jquery.form.js"></script>
        <script src="~/js/rtpost.js" asp-append-version="true"></script>
        <script src="~/hplus/js/plugins/bootstrap-table/bootstrap-table.min.js" asp-append-version="true"></script>
        <script src="~/hplus/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
        <!-- Bootstrap table -->
        <script src="~/js/treegrid/jquery.treegrid.min.js"></script>
        <script src="~/js/treegrid/jquery.treegrid.bootstrap3.js"></script>
        <script src="~/hplus/js/content.js?v=1.0.0"></script>
        <script src="~/hplus/js/common.js"></script>
        <script src="~/hplus/js/plugins/iCheck/icheck.min.js"></script>
        <script src="~/js/webuploader/webuploader.min.js"></script>
        <script src="~/js/uploader.js"></script>
        <script src="~/editor/ckeditor/ckeditor.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/validation/jquery.validate.min.js"></script>
        <script src="~/js/validation/messages_zh.min.js"></script>
        <script src="~/js/layer/layer.js"></script>
        <script src="~/js/jquery.form.min.js"></script>
        <script src="~/js/rtpost.js" asp-append-version="true"></script>
        <script src="~/hplus/js/plugins/bootstrap-table/bootstrap-table.min.js" asp-append-version="true"></script>
        <script src="~/hplus/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
        <script src="~/js/treegrid/jquery.treegrid.min.js"></script>
        <script src="~/js/treegrid/jquery.treegrid.bootstrap3.js"></script>
        <script src="~/hplus/js/content.js?v=1.0.0"></script>
        <script src="~/hplus/js/common.js"></script>
        <script src="~/hplus/js/plugins/iCheck/icheck.min.js"></script>
        <script src="~/js/webuploader/webuploader.min.js"></script>
        <script src="~/js/uploader.js"></script>
        <script src="~/editor/ckeditor/ckeditor.js"></script>
        <script src="~/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    </environment>
</head>
<body class="gray-bg">
    @RenderBody()
    <script>
        var index = parent.layer.getFrameIndex(window.name);
        function closethisdialog() {
            parent.layer.close(index);
        }
        $(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
            $(".my-preview").click(function () {
                var url = $(this).siblings(".upload-path").val();
                if (url) {
                    var data = {
                        "status": 1,
                        "msg": "",
                        "title": "预览图片",
                        "id": 1,
                        "start": 0,
                        "data": [
                            {
                                "alt": "",
                                "pid": 1,
                                "src": url,
                                "thumb": ""
                            }
                        ]
                    };
                    layer.photos({
                        photos: data,
                        anim: 0
                    });
                }
            })
        })
        $("input").each(function (index, item) {
            if ($(this).attr("placeholder") && $(this).attr("placeholder") != "") {
                var tipstr = $(this).attr("placeholder");
                var id = $(this).attr("id");
                $(this).on("focusin", function () {
                    layer.tips(tipstr, '#' + id, {
                        tips: [1, '#3595CC'] //还可配置颜色
                    });
                });
            }
        })
    </script>
</body>
</html>
