@{
    Layout = null;
    ViewBag.Title = "信息提示";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/hplus/css/style.css" rel="stylesheet" />
    <link href="~/hplus/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/hplus/css/animate.min.css" rel="stylesheet" />
    <link href="~/hplus/css/login.css" rel="stylesheet" />

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@ViewBag.Title</h5>
                <div class="ibox-tools">
                </div>
            </div>
            <div class="ibox-content">
                <h2>
                    <i class="fa fa-info-circle"></i> 信息提示<br />
                </h2>
                <h3>
                    @ViewBag.Message
                </h3>
                <p class="text-center">
                    <a class="btn btn-primary" href="javascript:;">确定</a>
                    <a class="btn btn-default" href="javascrip:;" onclick="closethisdialog();">关闭</a>
                </p>
            </div>
        </div>


    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/validation/jquery.validate.js"></script>
    <script src="~/js/validation/messages_zh.js"></script>
    <script src="~/js/layer/layer.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/rtpost.js"></script>
    <script src="~/hplus/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/hplus/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="~/hplus/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- Bootstrap table -->
    <script src="~/js/treegrid/jquery.treegrid.min.js"></script>
    <script src="~/js/treegrid/jquery.treegrid.bootstrap3.js"></script>
    <script src="~/hplus/js/content.js?v=1.0.0"></script>
    <script src="~/hplus/js/common.js"></script>
    <script src="~/hplus/js/plugins/iCheck/icheck.min.js"></script>
    <script src="~/js/webuploader/webuploader.min.js"></script>
    <script src="~/js/uploader.js"></script>
    <script src="~/editor/ckeditor/ckeditor.js"></script>
    <script src="~/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script>
        var index = parent.layer.getFrameIndex(window.name);
        function closethisdialog() {
            parent.layer.close(index);
        }
    </script>


</body>

</html>