<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form action="/Upload/SaveFile/" method="post" enctype="multipart/form-data">
        <input type="file" name="file1"/>
        <input type="submit" name="name" value="上传" />
    </form>
</div>
</body>
</html>