@{
    ViewBag.title = "网站地图";
    ViewBag.keywords = "网站地图";
    ViewBag.description = "网站地图";
}
    <div class="banner mobile sec-banner">
       <em style="background: url('/images/default/slide-1.jpg') center top no-repeat; background-size: 100%;"></em>
    </div>
    <div class="banner normal sec-banner">
       <em style="background: url('/images/default/slide-1.jpg') center top no-repeat; background-size: 100%;"></em>
    </div>
    <div class="content au">
        <div class="au-bg">
            <div class="cont">
                @* 请自行将网站栏目显示于此 *@
                网站地图。
            </div>
        </div>
    </div>