
@{
    ViewBag.Title = "微信公众号关键字回复规则管理";
}
    <div class="wrapper wrapper-content">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@ViewBag.Title</h5>
                <div class="ibox-tools">
                </div>
            </div>
            <div class="ibox-content">
                <div class="panel panel-default">
                    <div class="panel-heading">筛选条件</div>
                    <div class="panel-body">
                        <form id="formSearch" class="form-horizontal form-inline" onsubmit="doSearch(); return false; ">
                            <div>
                                <label class="control-label">关键字：</label>
                                <input type="text" placeholder="关键字" name="keyword" id="keyword" class="form-control">
                                <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary" onclick="doSearch();">查询</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="toolbar" class="btn-group">
                    <button id="btn_add" type="button" class="btn btn-outline btn-default" onclick="top.showDialog('addtxtreplyrule','添加文本回复规则','/AdminCP/Weixin/AddTextReplyRule',0,0)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                    </button>
                </div>
                <table id="tb_departments"></table>

                <script>
                    $(function () {

                        //1.初始化Table
                        var oTable = new TableInit();
                        oTable.Init();

                        //2.初始化Button的点击事件
                        var oButtonInit = new ButtonInit();
                        oButtonInit.Init();

                    });
                    function doSearch() {
                        var params = $('#tb_departments').bootstrapTable('getOptions');
                        //console.log(params);
                        params.queryParams = function (params) {

                            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                                limit: params.limit,   //页面大小
                                page: (params.offset / params.limit) + 1,  //页码
                                keyword: $("#keyword").val()
                            };
                            return temp;
                        }
                        $('#tb_departments').bootstrapTable('refresh', params);
                        return false;
                    }
                    var TableInit = function () {
                        var oTableInit = new Object();
                        //初始化Table
                        oTableInit.Init = function () {
                            $('#tb_departments').bootstrapTable({
                                url: '/AdminCP/Weixin/GetReplyRuleList',         //请求后台的URL（*）
                                method: 'get',                      //请求方式（*）
                                toolbar: '#toolbar',                //工具按钮用哪个容器
                                striped: true,                      //是否显示行间隔色
                                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                                pagination: true,                   //是否显示分页（*）
                                sortable: false,                     //是否启用排序
                                sortOrder: "asc",                   //排序方式
                                queryParams: oTableInit.queryParams,//传递参数（*）
                                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                                pageNumber: 1,                       //初始化加载第一页，默认第一页
                                pageSize: 25,                       //每页的记录行数（*）
                                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                                strictSearch: true,
                                showColumns: true,                  //是否显示所有的列
                                showRefresh: true,                  //是否显示刷新按钮
                                minimumCountColumns: 2,             //最少允许的列数
                                clickToSelect: true,                //是否启用点击选中行
                                height: 0,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                                uniqueId: "Id",                     //每一行的唯一标识，一般为主键列
                                showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                                cardView: false,                    //是否显示详细视图
                                detailView: false,                   //是否显示父子表
                                columns: [{
                                    checkbox: true
                                }, {
                                    field: 'Id',
                                    title: 'ID'
                                }, {
                                        field: 'IsLikeQuery',
                                    title: '模糊匹配',
                                    formatter: function (value, row, index) {
                                        if (value > 0) {
                                            return '模糊匹配'
                                        } else {
                                            return '精确匹配'
                                        }
                                    }
                                }, {
                                        field: 'Keywords',
                                    title: '关键字'
                                },
                                {
                                    field: 'ResponseType',
                                    title: '回复类型',
                                    formatter: function (value, row, index) {
                                        switch (value) {
                                            case 0:
                                                return "文本";
                                            case 2:
                                                return "图文";
                                            case 3:
                                                return "语音";
                                            case 8:
                                                return "单图";
                                        }
                                    }
                                },
                                {
                                    field: 'AddTime',
                                    title: '添加时间',
                                    formatter: function (value, row, index) {
                                        if (value) {
                                            return value.replace('T00:00:00', '');
                                        }
                                    }
                                },
                                {
                                    field: 'Id',
                                    title: '操作',
                                    formatter: 'actionFormatter'
                                }
                                ]
                            });
                        };

                        //得到查询的参数
                        oTableInit.queryParams = function (params) {
                            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                                limit: params.limit,   //页面大小
                                page: (params.offset / params.limit) + 1,  //页码
                                departmentname: $("#keyword").val()
                            };
                            return temp;
                        };
                        return oTableInit;
                    };

                    function actionFormatter(value, row, index) {
                        return [
                            '<a href="javascript:;" class="btn btn-xs btn-primary" title="编辑" onclick="top.showDialog(\'eidtreplyrule\', \'查看/编辑规则详情\', \'/AdminCP/Weixin/EditTextReplyRule/' + value + '\', 0, 0)"><i class="fa fa-edit"></i> 查看</a>',
                        '<a href="javascript:;" class="btn btn-xs btn-danger m-l-xs" title="删除" onclick="doDel(\'/AdminCP/Weixin/DelTextReplyRule\',' + value + ');"><i class="fa fa-close"></i> 删除</a>',
                        ].join('');
                    }

                    var ButtonInit = function () {
                        var oInit = new Object();
                        var postdata = {};

                        oInit.Init = function () {
                            //初始化页面上面的按钮事件
                        };

                        return oInit;
                    };
                </script>
            </div>
        </div>


    </div>